.list {
  list-style: none;
}

.list li {
  position: relative;
  margin: 1rem 0;
  
  @media screen and (max-width: 500px) {
    margin: 2rem 0;
  }
}

.list li:before { 
  content: '';
  background: url(../../assets/img/list-item.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top:0;
  left:0;
  transform: translate(-41px, 7px);
  
  @media screen and (max-width: 500px) {
    transform: translate(-41px, -4px);
    
  }
  
}