body {
  padding: 0;
  margin: 0;
  font-family: system,-apple-system,BlinkMacSystemFont,\.SFNSDisplay-Regular,Helvetica\ Neue,Lucida\ Grande,Arial,sans-serif;
  font-weight: 200;
  letter-spacing: .5px;
  font-size: 24px;
  color: #433B54;
  line-height: 1.4;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

.page {
  box-sizing: border-box;
}

.outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.outer_max-height {
  height: 100vh;
}

.inner {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 4rem;
}

.screen {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.screen__part {
  height: 85vh;
  min-height: 85vh;
  max-height: 85vh;
}

.screen__part-auto {
  
}

.dark-back {
  background-color: #1b1d27;
  color: #fafafa;
  font-weight: 100;
  letter-spacing: .8px;
}

h1 {
  font-size: 48px;
  font-weight: 200;
  margin:0;
  line-height: 1.2;
}

h1 strong {
  letter-spacing: 1px;
}

h2 {
  font-size: 48px;
  font-weight: 200;  
  margin:0;
  line-height: 1.2;
}

h4 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: rgba(255,255,255,.7);
}

p {
  max-width: 600px;
}

.section {
  padding: 1.5rem 0;
  box-sizing: border-box;
}

.section:last-child {
  padding-bottom: 0;
}


.h-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
} 

.v-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.max-size {
  width: 100%;
  height: 100%;
}

.s-screens {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.text_m {
  font-size: 32px;
}

.text_center {
  text-align: center;  
}

#cover_1 {
  background-image: url(../../assets/img/cover.png);
  background-color: #f3f3f3;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  animation: start 2s 1s ease alternate forwards;
}

#cover_2 {
  background-color: #F3F3F3;
  background-image: url(../../assets/img/cover_2.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes start {
  0% {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
  }
  100% {
    height: 85vh;
    min-height: 85vh;
    max-height: 85vh;
  }
}
