body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: .5px;
  font-size: 24px;
  color: #433B54;
  line-height: 1.4;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
  
  @media screen and (max-width: 500px) {
    font-size:16px;  
    font-weight: 400;
  }
  
}

.page {
  box-sizing: border-box;
}

.outer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.outer_max-height {
  height: 100vh;
}

.inner {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 4rem;
  box-sizing: border-box;
  
  @media screen and (max-width: 500px) {
    padding: 1rem;
  }
  
}

.screen {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  
  @media screen and (max-width: 500px) {
    
  }
  
}

.screen__part {
  height: 85vh;
  min-height: 85vh;
  max-height: 85vh;
  
  @media screen and (max-width: 500px) {
    height: 65vh;
    min-height: 65vh;
    max-height: 65vh;
  }
  
}

.screen__part-auto {
  
}

.dark-back {
  background-color: #1b1d27;
  color: #fafafa;
  font-weight: 100;
  letter-spacing: .8px;
}

h1 {
  font-size: 48px;
  font-weight: 200;
  margin:0;
  line-height: 1.2;
  
  @media screen and (max-width: 500px) {
    font-size: 32px;
  }
  
}

h1 strong {
  font-weight: 600;
  letter-spacing: .3px;
  display: block;
  padding: 0 0 20px 0;
}

h2 {
  font-size: 48px;
  font-weight: 200;  
  margin:0;
  line-height: 1.2;
  
  @media screen and (max-width: 500px) {
    font-size: 32px;  
  }
  
}

h4 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: rgba(255,255,255,.7);
  
  @media screen and (max-width: 500px) {
    padding: 0;
    margin:0;
  }
  
}

p {
  max-width: 600px;
}

.section {
  padding: 1.5rem 0;
  box-sizing: border-box;
}

.section:last-child {
  padding-bottom: 0;
}


.h-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
} 

.v-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.max-size {
  width: 100%;
  height: 100%;
}

.s-screens {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  
  @media screen and (max-width: 500px) {
    height: auto;
  }
  
}

.s-screens > div {
  @media screen and (max-width: 500px) {
    margin-bottom: 2rem;  
  }
}

.text_m {
  font-size: 32px;
  
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
  
}

.text_center {
  text-align: center;  
}

#cover_1 {
  background-image: url(../../assets/img/cover.png);
  background-color: #f3f3f3;
  background-position: center bottom -20px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  animation: start 2s 1s ease alternate forwards;
  transition: all .2s;
  
  @media screen and (max-width: 1024px) {
    background-position: center bottom;
  }
  
  @media screen and (max-width: 800px) {
    background-size: 112%;
  }
  
  @media screen and (max-width: 500px) {
    height: 65vh;
    min-height: 650px;
    max-height: 65vh;
    animation: none; 
    background-position: left 93% bottom;
    background-size: 311%;
  }
}

.webp #cover_1 {
  background-image: url(../../assets/img/cover.webp);
}

.mobile #cover_1 {
  background-image: url(../../assets/img/cover_1_mobile.png);
}

.mobile.webp #cover_1 {
  background-image: url(../../assets/img/cover_1_mobile.webp);
}

#cover_2 {
  background-color: #F3F3F3;
  background-image: url(../../assets/img/cover_2.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  
  @media screen and (max-width: 500px) {
    height: 640px; 
    background-position: right 6% bottom;
    background-size: 200%;  
  }
  
}

.webp #cover_2 {
  background-image: url(../../assets/img/cover_2.webp);
}




.mobile #cover_2 .s-screens {
  height: 80vh;
  justify-content: space-between;
  
  @media screen and (max-width: 500px) {
    height: 500px;
  }
  
}


@keyframes start {
  0% {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
  }
  100% {
    height: 85vh;
    min-height: 85vh;
    max-height: 85vh;
  }
}

.promo-phone-animation {
  max-width: calc(100vw - 2rem);
}

.content_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

