.price {
  
}

.price__cost {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: 600;
  transform: translate(5px, 5px);
}


.price__price {
  font-size: 100px;
  font-weight: 600;
  line-height: 80px;
  color: #ffc435;
}

.price__description {
  text-align:right;
  margin-top: 1rem;
  opacity: .5;
  font-size: 18px;
}
