.phone {
  position: sticky;
  width: 550px;
  right: 0;
  top: 2vh;
  display: flex;
  flex-direction: column;
}

.promo {
  height: 93vh;
  width: 100%;
  transform: translateY(50px) scale(.95);
  transition: transform .6s .2s ease;
  font-size: 11px; 
}

.promo svg {
  height: 100%;
}

.promo svg tspan {
  font-size: 100%;
  user-select: none;
  opacity: .9;
  letter-spacing: normal;
}

.promo_visible {
  transform: translateY(0px) scale(1);
  transition: transform .6s .2s ease;
}

.app-rate {
  transform: translate(110px,-65px);
  width: 200px;
}

.app-rate__stars {
  color: #ffc435;
  letter-spacing: 2px;
}

.app-rate__rew {
  font-size: 18px;  
  transform: translate(0,-10px);
}

.app-rate__rate {
  font-size: 48px;
}