.rate {
  font-size: 35px;
    line-height: 45px;
    color: #fff;
    padding: 0 0 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin: 0 0 20px;
}

.rate__badge {
  display: flex;
  justify-content: center;
  
  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    
  }
  
}

.rate__badge img {
  width: 250px;
  height: 70px;
  object-fit: cover;
  object-position: left;
  margin: 0 10px;
  
  @media screen and (max-width: 500px) {
    margin: 10px 0;
  }
}