.slider {
  position: relative;
}

.slider__outer {
  width: 100vw;
  overflow: hidden;
  @media screen and (max-width: 500px) {
    overflow-x: scroll;  
  }
}

.slider__inner {
  display: flex;
  transition: all .3s ease;
}

.slider__s {
  min-width: 100vw;
  width: 100vw;
  padding: 0 20vw;
  box-sizing: border-box;
  
  @media screen and (max-width: 500px) {
    padding: 0 10vw;
  }
  
}

.comment {
  position: relative;
  text-align: left;
}

.comment:before {
  content: '‘‘';
  letter-spacing: -10px;
  font-family: serif;
  font-size: 140px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 15px;
  transform: translate(-70px, 20px);
  
  @media screen and (max-width: 500px) {
    font-size: 100px;
    transform: translate(-48px, 20px);
  }
}

.slider__controls {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  top: 0%;
  height: 100%;
  
  @media screen and (max-width: 500px) {
    pointer-events: none;  
  }

}

.slider__c {
  width: 100px;
  height: 100%;
  background-image: url(../../assets/img/prev.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  cursor: pointer;
  
  @media screen and (max-width: 500px) {
      width: 50px;
      pointer-events: all;
  }
  
}

.slider__c.disabled {
  opacity: .2;
  pointer-events: none;
  cursor: default;
}

.slider__c-prev {

}

.slider__c-next {
  transform: scale(-1);
}
