.tab {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 1rem -1rem;
  box-sizing: border-box;
  font-size: 32px;
}

.tab div {
  margin: 0 1rem;
  padding: .5rem 0;
  cursor: pointer;
}

.tab div.selected {
  border-bottom: 2px solid #433b54;
}


